<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.com.expertsoft.android_smeta">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="23" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="23" />
    <uses-permission
        android:name="android.permission.INTERNET"
        android:maxSdkVersion="23" />
    <uses-permission
        android:name="android.permission.CAMERA"
        android:maxSdkVersion="23" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        android:maxSdkVersion="23" />
    <uses-permission
        android:name="android.permission.CHANGE_NETWORK_STATE"
        android:maxSdkVersion="23" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:maxSdkVersion="23" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:maxSdkVersion="23" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        android:maxSdkVersion="23" />
    <uses-permission
        android:name="android.permission.KILL_BACKGROUND_PROCESSES"
        android:maxSdkVersion="23" />

    <!-- <uses-permission -->
    <!-- android:name="android.permission.WAKE_LOCK" -->
    <!-- android:maxSdkVersion="23" /> -->
    <!-- <uses-permission -->
    <!-- android:name="android.permission.DISABLE_KEYGUARD" -->
    <!-- android:maxSdkVersion="23" /> -->
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" android:maxSdkVersion="23"/> -->
    <!-- <uses-permission android:name="android.permission.READ_PROFILE" android:maxSdkVersion="23"/> -->
    <!-- <uses-permission android:name="android.permission.READ_CONTACTS" android:maxSdkVersion="23"/> -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Андроїд Кошторис"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="ua.com.expertsoft.android_smeta.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="Андроїд Кошторис"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="android_smeta/zml" />
                <data android:mimeType="android_smeta/arp" />
                <data android:mimeType="android_smeta/cpln" />
            </intent-filter>
        </activity>
        <activity
            android:name="ua.com.expertsoft.android_smeta.EditingList"
            android:label="@string/edit_group">
            <intent-filter>
                <action android:name="ua.com.expertsoft.editGroupOpen" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ua.com.expertsoft.android_smeta.AddNewTasks"
            android:theme="@style/AppTheme.NoActionBar"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="ua.com.expertsoft.addNewTask" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ua.com.expertsoft.android_smeta.ListOfOnlineCadBuilders"
            android:label="@string/title_activity_list_of_online_cad_builders"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="ua.com.expertsoft.ListOfOnlineCadBuilders" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ua.com.expertsoft.android_smeta.ShowWorksActivity"
            android:label="@string/title_activity_show_works"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="ua.com.expertsoft.ShowWorksActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ua.com.expertsoft.android_smeta.ShowWorksParam"
            android:label="@string/title_activity_show_works_param"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="ua.com.expertsoft.ShowWorksParam" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ua.com.expertsoft.android_smeta.ShowFacts"
            android:label="@string/title_activity_show_facts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ua.com.expertsoft.android_smeta.ViewPhotosActivity"
            android:label="@string/title_activity_view_photos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="ua.com.expertsoft.android_smeta.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">

        </activity>
        <activity
            android:name="ua.com.expertsoft.android_smeta.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="ua.com.expertsoft.android_smeta.settings.SettingsActivity"
            android:label="@string/preference_main" />
        <activity
            android:name="ua.com.expertsoft.android_smeta.custom_calendar.CalendarShower"
            android:label="CALENDAR" />
        <activity
            android:name="ua.com.expertsoft.android_smeta.custom_calendar.ViewCalendarTasks"
            android:label="@string/title_activity_view_calendar_tasks"
            android:theme="@style/AppTheme.NoActionBar" />

        <service android:name="ua.com.expertsoft.android_smeta.custom_calendar.ShowNotification">

            <!-- android:process=":notifications_listener"> -->
            <!-- android:enabled="true" -->
            <!-- android:exported="true"> -->

        </service>

        <activity
            android:name="ua.com.expertsoft.android_smeta.EditResourceActivity"
            android:label="@string/title_activity_edit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="ua.com.expertsoft.android_smeta.sheet.SheetActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"></activity>
    </application>

</manifest>